<h2 class='gen-header'> First Generation Pokedex </h2>

<form action='/gen1'>
  <input type='text' name='pokemon' placeholder="Pokemon" autofocus>
  <input style='margin-left: 5px;' class='button-primary' type='submit' value='I Choose You'>
</form>

<div id='pokedex1'>

  <img class='sprite' src="<%= @sprite %>" />

  <div class='name'>
    <p style='font-size: 15px;margin-bottom: -10px;'> <%= @num %> </p>
    <p> <%= @name %> </p>
  </div>

  <div class='height'>
    <p> Height: <span style='font-size: 15px;'><%= @height %> </span> </p>
  </div>

  <div class='weight'>
    <p> Weight: <span style='font-size: 15px;'><%= @weight %></span> </p>
  </div>

</div>
